<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Resume </title>
    <link rel="icon" href="/styles/assets/cat.jpg">
    <link rel="stylesheet" href="/styles/style.css" />
</head>
<body>
    <section id="head-container">
        <div class="head-web">
            <h1>Krittapas Thipsangwong</h1>
            <img class="proflie-pic" src="/styles/assets/cat.jpg" height="200" alt="my photo"/>
            <h2>Summary</h2>
            <h3>I am a hardworking and dedicated individual with experience in IT Support</h3>
        </div>
    </section>
    <section id="main-container">
        <div class="main-web">
            <div class="main-one">
                <h2>Education</h2>
                <ul>
                    <li>
                        <h3>Diploma of Computer Bussiness - Siam Business Administration(SBAC) 2019-2021</h3>
                    </li>
                </ul>
            </div>
            <hr/>
            <div class="main-two">
                <h2>Work Experience</h2>
                <ul>
                    <li>
                        <h3>Computer technicians for The computer repair shop</h3>
                    </li>
                    <u1>Mars 2015 - 2020
                        <ul>
                            <li><u1>Computer Maintenance</u1></li>
                            <li><u1>Printer Maintenance</u1></li>
                            <li><u1>laptop Maintenance</u1></li>
                            <li><u1>Install OS Windows, OS linux,Software</u1></li>
                            <li><u1>Install Software</u1></li>
                        </ul>
                    </u1>
                    <li><h3>IT Freelance for Company</h3></li>
                    <u1>Mars 2015 - Now</u1>
                    <ul>
                        <li><u1>Computer Maintenance</u1></li>
                        <li><u1>Printer Maintenance</u1></li>
                        <li><u1>laptop Maintenance</u1></li>
                        <li><u1>Install OS Windows, OS linux,Software</u1></li>
                        <li><u1>Install Software</u1></li>
                        <li><u1>Remote troubleshoot for PC&Leptop</u1></li>
                        <li><u1>Onsite Maintenance for the company&Customer</u1></li>
                    </ul>
                </ul>
            </div>
            <hr/>   
            <div class="main-three">
                <h2>Skills</h2>
                <ul>
                    <h3>5/5 STAR</h3>
                    <li><u1>Computer Maintenance:<br/>⭐️⭐️⭐️⭐️⭐️</u1></li>
                    <li><u1>laptop Maintenance:<br/>⭐️⭐️⭐️⭐️⭐️</u1></li>
                    <li><u1>Printer Maintenance:<br/>⭐️⭐️⭐️</u1></li>
                    <li><u1>Drive Car:<br/>⭐️⭐️⭐️⭐️⭐️</u1></li>
                    <li><u1>Car mechanic:<br/>⭐️⭐️⭐️⭐️</u1></li>
                    <li><u1>Motorcycle mechanic:<br/>⭐️⭐️⭐️⭐️</u1></li>
                    <li><u1>Adobe premiere pro:<br/>⭐️⭐️⭐️⭐️</u1></li>
                    <li><u1>Adobe photoshop 2023:<br/>⭐️⭐️⭐️</u1></li>
                    <li><u1>Air conditioner Maintenance:<br/>⭐️⭐️⭐️⭐️</u1></li>
                    <li><u1>Microsoft Office Suite:<br/>⭐️⭐️⭐️</u1></li>
                </ul>
            </div>
        </div>
    </section>

    <section id="footer-container">
        <div class="footer-web">
            <h3>CONTACT ME</h3>
            <div class="footer-contact">
                <div>
                    <a href="https://www.facebook.com/bossbosnoname/"><img class="logo" src="/styles//logo/Facebook_f_logo.svg" alt="facebook logo"></a>
                </div>
                <div>
                    <a href="https://www.instagram.com/mrbosfg/?hl=en"><img class="logo" src="/styles//logo/instagram-logo-.png" alt="ig logo"></a>
                </div>
                <div>
                    <a href="https://twitter.com/Bosszar3"><img class="logo" src="/styles//logo/x-com.jpg" alt="twitter logo"></a>
                </div>
            </div>
            <footer class="footer-container">
                <div class="footer">
                    <p class="footer-text">©2023 Krittpas thipsangwsong All rights reserved.</p>
                </div>
            </footer>
        </div>
    </section>
</body>
</html>